.botonIngresar{
    width: 100%;
}

.skeleton-titulo {
    text-align: center;
    font-size: 30px;
        }

.subtitulo{
    text-align: center;
    font-size: 15px;
}

.card-title{
    text-align: center;
}

.botonRegistrarse{
    text-align: center;
    width: 100%;
}