.botonLogin{
  margin-right: 15px;
}

.bienvenido{
  font-size: 30px;
}

.infAdicional{
  font-size: 20px;
}

.formulario{
  margin: 20px;
}

.btnLimpiar {
  margin-right: 50px;
}

.footer{
  background-color: darkgray; 
  color: white; 
  padding: 10px; /*espacio que ocupa el footer*/
}