<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      SkeletonAPP
    </ion-title>
    <ion-button class="botonLogin" slot="end" (click)="goToLogin()">
      Login
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-text-center">
  <ion-title class="ion-margin-top bienvenido">Bienvenido!</ion-title>
  </div>
  <p class="ion-margin-start">Usuario: {{ userValue }}</p>
  <p class="ion-text-center infAdicional">Informacion adicional</p>
  <div class="formulario">
  <form>
    <ion-item>
      <ion-label>Nombre</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Apellido</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
  <ion-select placeholder="Selecciona un nivel">
    <ion-select-option value="basica">Educación básica</ion-select-option>
    <ion-select-option value="media">Educación media</ion-select-option>
    <ion-select-option value="superior">Educación superior</ion-select-option>
  </ion-select>
    </ion-item>
    <ion-item>
      <ion-datetime displayFormat="DD/MM/YYYY" placeholder="Selecciona una fecha"></ion-datetime>
    </ion-item>
  </form>
  <div class="ion-text-center ion-margin-top">
  <ion-button class="btnLimpiar">
    Limpiar
  </ion-button>
  <ion-button>
    Mostrar
  </ion-button>
</div>
</div>
</ion-content>

<ion-footer class="footer">
  Desarrollado por
</ion-footer>